:root {
  --color: #3498db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #cac6c1;
  overflow-x: hidden;
  padding-top: 90px;
  font-family: "poppins", sans-serif;
  margin: 0 100px;
}

.profile-header {
  background: #fff;
  width: 100%;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  float: left;
  width: 340px;
  height: 200px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
  object-fit: cover;
}

.profile-nav-info {
  float: left;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.profile-nav-info h3 {
  font-variant: small-caps;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.profile-nav-info .address {
  display: flex;
  font-weight: bold;
  color: #777;
}

.profile-nav-info .address p {
  margin-right: 5px;
}

.profile-option {
  width: 40px;
  height: 40px;
  background: var(--color);
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
}

.profile-option .notification i {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.profile-option:hover {
  background: #fff;
  border: 1px solid var(--color);
}

.profile-option:hover .notification i {
  color: var(--color);
}

.profile-option .notification .alert-message {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  color: var(--color);
  border: 1px solid;
  padding: 5%;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}

.profile-side {
  width: 300px;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;
  font-family: "Bree serif", serif;
  margin-left: 10px;
  z-index: 99;
}

.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}

.profile-side p i {
  color: var(--color);
  margin-right: 10px;
}

.mobile-no i {
  transform: rotateY(180deg);
}

.profile-btn {
  display: flex;
}

button.chatbtn,
button.createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: var(--color);
  font-family: "Bree Serif", sans-serif;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
}
a.chatbtn,
a.createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: var(--color);
  font-family: "Bree Serif", sans-serif;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  text-decoration: none;
}

button.chatbtn:hover,
button.createbtn:hover {
  background: rgba(288, 0, 70, 0.9);
}

button.chatbtn i,
button.createbtn i {
  margin-right: 5px;
}

.user-rating {
  /*display: flex;*/
  text-align: center;
}

.user-rating h3 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #666;
}

.user-rating .no-user {
  font-size: 1.2rem;
}

.rate {
  padding-top: 6px;
}

.rate i {
  font-size: 1.2rem;
  color: var(--color);
}

.nav {
  width: 100%;
  z-index: -1;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 40px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.nav ul li.active,
.nav ul li:hover {
  box-shadow: 0 -3px 0 rgb(52 152 219) inset;
}

.profile-body {
  width: 100%;
  z-index: -1;
}

.tab {
  padding: 20px;
  width: 100%;
  text-align: center;
  display: none;
}

#see-more-bio,
#see-less-bio {
  color: blue;
  cursor: pointer;
  text-transform: lowercase;
}

@media (max-width: 1100px) {
  .profile-side {
    width: 250px;
    padding: 90px 15px 20px;
  }

  .profile-img img {
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
  }
}

@media (max-width: 1100px) {
  body {
    margin: 0 20px;
    padding-top: 20px;
  }

  .profile-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }

  .profile-img {
    float: left;
    width: 100%;
    height: 200px;
  }

  .profile-img img {
    position: relative;
    left: 0;
    object-fit: cover;
  }

  .profile-nav-info {
    text-align: center;
  }

  .profile-nav-info .address {
    justify-content: center;
  }

  .profile-option {
    right: 20px;
    top: 75%;
    transform: translateY(50%);
  }

  .main-bd {
    flex-direction: column;
    padding-right: 0px;
  }

  .profile-side {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5px 0;
  }

  .user-rating {
    justify-content: center;
  }

  @media (max-width: 400px) {
    body {
      margin: 5px;
    }

    .profile-header h3 {
      font-size: 1.7rem;
    }

    .profile-header p,
    .profile-header span {
      font-size: 0.9rem;
    }

    .profile-option {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 15px;
      top: 83%;
    }

    .profile-option .notification .alert-message {
      top: -3px;
      right: -4px;
      padding: 4px;
      height: 15px;
      width: 15px;
      font-size: 0.7rem;
    }
  }

  @media screen and (max-width: 600px) {
    .nav ul {
      height: 50px;
    }
  }
}

/* Paquetes----------------*/

img {
  width: 100%;
}

.sectP {
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  min-width: 600px;
}
@media (max-width: 1100px) {
  .sectP {
    min-width: auto;
    margin-bottom: 100px;
  }
}
.blog-post {
  width: 100%;
  max-width: 70rem;
  padding: 1rem 1rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  margin: auto;
}

.blog-post_img {
  min-width: 20rem;
  max-width: 20rem;
  height: 12rem;
  transform: translateX(-3rem);
  position: relative;
}

.blog-post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}
/*.blog-post_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(79,172,254,.8),
                      rgba(0,242,254,.8));
  box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
  border-radius: 0.8rem;
}*/
.blog-post_data span {
  display: block;
  color: rgb(0, 0, 0, 0.5);
  font-size: 1.1rem;
  font-weight: 600;
}

.blog-post_title {
  margin: auto;
  text-transform: uppercase;
  color: #4facfe;
}

.blog-post_text {
  margin: 7px 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.blog-post_cta {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}

.blog-post_cta:hover {
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}

@media screen and (max-width: 1000px) {
  .blog-post {
    max-width: 55rem;
    padding: 0.5rem 1rem;
  }

  .blog-post_img {
    min-width: 21rem;
    max-width: 21rem;
    transform: translateX(-1.5rem);
    height: 15rem;
  }
}

@media screen and (max-width: 900px) {
  .blog-post {
    padding: 2.5rem;
    flex-direction: column;
  }

  .blog-post_img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -3rem);
    height: 15rem;
  }
}

/*Botones---------------*/
.filtroB {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btnF {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  border: 3px solid;
}

.btn1,
.btn2 {
  color: #3498db;
  width: 160px;
  font-weight: 600;
}

.btn3,
.btn4 {
  color: #fff;
}

.btn1:hover,
.btn2:hover {
  color: #fff;
}

.btn3:hover,
.btn4:hover {
  color: #3498db;
}

.btnF::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before,
.btn3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn2::before,
.btn4::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn3::before,
.btn4::before {
  height: 180%;
}

.btn1:hover::before,
.btn2:hover::before {
  height: 180%;
}

.btn3:hover::before,
.btn4:hover::before {
  height: 0%;
}

/*Botones---------------*/
.conPaquet {
  display: flex;
}

@media screen and (max-width: 900px) {
  .conPaquet {
    display: block;
  }
}

.fondoCl {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.imgCl {
  border-radius: 50%;
  border: 3px solid white;
  min-width: 12rem;
  max-width: 12rem;
  transform: translateX(0rem);
}

@media screen and (max-width: 1000px) {
  .imgCl {
    min-width: 15rem;
    max-width: 15rem;
  }
}
/*alert*/
.alertM {
  width: 100%;
  height: 100px;
  background: #fff;
}
.alertM h2 {
  padding-top: 10px;
}
.imagenTabla {
  width: 100px;
}
